<div class="container container-spaced shadow bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Reset your password</h3>
            {{#if success}}
                <div class="alert alert-success" role="alert">Please check your inbox for a recovery email!</div>
            {{else}}
                <div class="alert alert-primary" role="alert">Enter your email address to have a password recovery email sent to you.</div>
            {{/if}}
            <form method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input autofocus type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required value="{{body.email}}">
                    {{#if error}}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {{/if}}
                </div>
                <button type="submit" class="btn btn-success">Send Recovery Link</button>
                <a class="btn btn-secondary" href="/">Return back</a>
            </form>
        </div>
    </div>
</div>